.what-hn-says {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 15px 0 15px;
  max-height: 500px;
  font-size: 0.9rem;
}

.what-hn-says-story-info {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
}

.what-hn-says-closed {
  max-height: 0px;
  margin: 0 15px 0 15px;
  display: none;
}

.what-hn-says-list {
  margin: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  max-height: 500px;
}

.what-hn-says-list > li {
  justify-content: space-around;
  margin: 5px 5px 5px 0;
  max-width: 250px;
  margin-left: 10px;
}

#hn-says-btn {
  color: orange;
}

.what-hn-says-empty-list {
  margin: 10px 0 10px 0;
  text-align: center;
}
